:root {
  --dark-color: #19283f;
  --green-color: #33d1cc;
  --red-color: #ff3150;
  --yellow-color: #ffc400;
  --section-color: #eff7fa;
}
body {
  font-family: "roboto", sans-serif;
    overflow-x: hidden;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
.section-padding {
  padding: 80px 0 50px 0;
}
#btn{
  outline: none;
  width: 40px;
  height: 40px;
  background-color: var(--dark-color);
  position: fixed;
  bottom: 10px;
  right: 20px;
  border: none;
  z-index: 2;
}
#btn:hover{
  background-color: var(--red-color);
  color: var(--red-color);
}
#main-button {
  background-color: var(--red-color);
  color: var(--yellow-color);
  font-weight: 600;
}
#main-button:hover {
  background-color: var(--yellow-color);
  color: var(--red-color);
}
.navbar {
  background-color: var(--dark-color);
  font-weight: 500;
}
#active {
  color: var(--green-color);
}
.navbar-nav a {
  color: white;
}
.navbar-nav a:hover {
  color: var(--green-color);
}
.search i {
  color: var(--green-color);
  font-size: 17px;
}
.navbar .search {
  border-left: 1px solid var(--green-color);
}
.navbar .navbar-toggler {
  color: white;
  font-size: 25px;
  border-color: white;
}
.navbar .navbar-toggler:focus {
  box-shadow: none;
}
.navbar .navbar-toggler[aria-expanded="true"] {
  border-color: var(--green-color);
}
.landing {
  background-color: #19283f;
  min-height: 100vh;
}
.main-heading p {
  font-weight: 600;
}
.main-heading .end {
  width: 120px;
  height: 2px;
  background-color: var(--green-color);
}
.fuetures .icon-holder {
  height: 200px;
}
.fuetures .icon-holder i {
  left: 50%;
  transform: translateX(-50%);
}
.fuetures .feat .icon {
  color: var(--green-color);
}
.fuetures h4 {
  color: var(--yellow-color);
}
.icon-holder .number {
  font-size: 190px;
  color: rgba(128, 128, 128, 0.079);
}

.list-group li {
  cursor: pointer;
  padding: 8px;
  margin-right: 15px;
}
.list-group .active {
  background-color: var(--red-color);
  color: var(--yellow-color);
}
.list-group li:hover,
.list-group .active:hover {
  background-color: var(--yellow-color);
  color: var(--red-color);
}
.works,
.team {
  background-color: rgb(238, 244, 250);
}
.box {
    width: 100%;
    height: 230px;
    cursor: pointer;
}
.box-inner {
  border: 5px solid white;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.5s ease-in-out;
}
.box-front, 
.box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
.box-front img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.box-back {
    background-color: rgba(51, 209, 204, 0.8);
    color: white;
    font-size: 25px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(180deg); 
}
.box:hover .box-inner {
    transform: rotateY(180deg);
}
.head1{
  color: var(--yellow-color);
}
#team .card-title{
  background-color: var(--green-color);
}
.project{
  background-color: var(--dark-color);
}
#blog .card-img-top{
  height: 170px;
}
#blog .card{transition: .02s;}
#blog .card:hover{
  transform: scale(.97);
}
#subscribe{
  background-color: var(--yellow-color);
}
#subscribe .email{
  width: 100%;
  background-color: var(--yellow-color);
  border: none;
border-bottom: 1px solid white;
}
#subscribe .email::placeholder{
  color: white;
}
.subscribe #main-button{
  background-color: black;
  color: var(--yellow-color);
}
.subscribe #main-button:hover {
  background-color: var(--yellow-color);
  color: black;
}
#footer{
  background-color: var(--dark-color);
}
#footer .span1{
  color: var(--green-color);
}
.list-footer li{
  margin-bottom: 5px;
}
.footer .links i{
  cursor: pointer;
}
.footer .links i:hover{
  color: var(--red-color);
}
